@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto:wght@500&display=swap");
html {
  height: 100%;
  font-family: 'Montserrat';
  --bg: #FCFCFC;
  --bg-panel: #EBEBEB;
  --color-headings: rgb(0, 0, 0);
  --color-text: #333333;
}

html[data-theme='dark'] {
  --bg: #000000;
  --bg-panel: #000000;
  --color-headings: rgb(221, 221, 223);
  --color-text: rgb(255, 0, 0);
}

body {
  padding: 40px;
  background: var(--bg);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}
h1 {
  font-family: cursive;
}
h2 {
  font-variant-caps: all-petite-caps;
  font-family: fantasy;
  font-size: 28px;
  color: var(--color-headings);
  padding: 30px;
  margin-top: 0.2px;
}

h3 {
  font-size: 28px;
  color: var(--color-headings);
  padding: 30px;
  margin-top: 50px;
  font-family: fantasy;
}

 p {
  border-right: solid 5px var(--color-text);
  white-space: nowrap;
  overflow: hidden;
  font-family: cursive;
  font-size: 65px;
  color: var(--color-text);
  border-right: .1em solid transparent;
  white-space: nowrap;
}

p {
  -webkit-animation: animated-text 5s linear 1s 1 normal both;
          animation: animated-text 5s linear 1s 1 normal both;
}

@-webkit-keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 801px;
  }
}
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 801px;
  }
}
.flex-center {
  width: 100%;
  min-height: 20vh;
  background: var(--bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: var(--color-text);
}

.icon-3d:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
}

@-webkit-keyframes icon3d {
  0% {
    text-shadow: 5px 4px #f44336, -5px -6px #e5ff00;
  }
  25% {
    text-shadow: -5px -6px #f44336, 5px 4px #e5ff00;
  }
  50% {
    text-shadow: 5px -4px #f44336, -8px 4px #e5ff00;
  }
  75% {
    text-shadow: -8px -4px #f44336, -5px -4px #e5ff00;
  }
  100% {
    text-shadow: -5px 0 #f44336, 5px -4px #e5ff00;
  }
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px #f44336, -5px -6px #e5ff00;
  }
  25% {
    text-shadow: -5px -6px #f44336, 5px 4px #e5ff00;
  }
  50% {
    text-shadow: 5px -4px #f44336, -8px 4px #e5ff00;
  }
  75% {
    text-shadow: -8px -4px #f44336, -5px -4px #e5ff00;
  }
  100% {
    text-shadow: -5px 0 #f44336, 5px -4px #e5ff00;
  }
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: black;
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: rgba(248, 2, 2, 0.781);
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-headings);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}
#SkillBox {
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  width: 100%;
  height: auto;
  margin: 40px auto;
  background: var(--bg);
  padding: 10px;
  border-radius:20px;
  -o-border-radius:20px;
  -webkit-border-radius:20px;
  -ms-border-radius:20px;
  -moz-border-radius:20px;  
}
.SkillBar {
  width: 90%;
  height: 50px;
  position: relative;
  background:var(--bg);
  margin: 20px auto;
}
#Skill-HTML {
  width: 82%;
  animation: Animate-HTML 4s;
  -webkit-animation: Animate-HTML 4s;
  -moz-animation: Animate-HTML 4s;
  -o-animation: Animate-HTML 4s;
  height: 50px;
  position: absolute;
  background-color: #ea8564;
}
@keyframes Animate-HTML {
  from {
  width: 10px;
}
to {
  width: 82%}
}@-webkit-keyframes Animate-HTML {
  from {
  width: 10px;
}
to {
  width: 82%}
}@-moz-keyframes Animate-HTML {
  from {
  width: 10px;
}
to {
  width: 82%}
}@-o-keyframes Animate-HTML {
  from {
  width: 10px;
}
to {
  width: 82%}
}

#Skill-CSS {
  animation: Animate-CSS 5s;
  -webkit-animation: Animate-CSS 5s;
  -moz-animation: Animate-CSS 5s;
  -o-animation: Animate-CSS 5s;
  width: 70%;
  height: 50px;
  position: absolute;
  background-color: #55a69f;
}
@keyframes Animate-CSS {
  from {
  width: 10px;
}
to {
  width: 70%}
}@-webkit-keyframes Animate-CSS {
  from {
  width: 10px;
}
to {
  width: 70%}
}@-moz-keyframes Animate-CSS {
  from {
  width: 10px;
}
to {
  width: 70%}
}@-o-keyframes Animate-CSS {
  from {
  width: 10px;
}
to {
  width: 70%}
}
#Skill-CPLUS {
  animation: Animate-CPLUS 5s;
  -webkit-animation: Animate-CPLUS 5s;
  -moz-animation: Animate-CPLUS 5s;
  -o-animation: Animate-CPLUS 5s;
  width: 82%;
  height: 50px;
  position: absolute;
  background-color: #99856d;
}
@keyframes Animate-CPLUS {
  from {
  width: 10px;
}
to {
  width: 82%}
}@-webkit-keyframes Animate-CPLUS {
  from {
  width: 10px;
}
to {
  width: 82%}
}@-moz-keyframes Animate-CPLUS {
  from {
  width: 10px;
}
to {
  width: 82%}
}@-o-keyframes Animate-CPLUS {
  from {
  width: 10px;
}
to {
  width: 82%}
}#Skill-JS {
  animation: Animate-JS 4s;
  -webkit-animation: Animate-JS 4s;
  -moz-animation: Animate-JS 4s;
  -o-animation: Animate-JS 4s;
  width: 65%;
  height: 50px;
  position: absolute;
  background-color: #c44e45;
}
@keyframes Animate-JS {
  from {
  width: 10px;
}
to {
  width: 65%}
}@-webkit-keyframes Animate-JS {
  from {
  width: 10px;
}
to {
  width: 65%}
}@-moz-keyframes Animate-JS {
  from {
  width: 10px;
}
to {
  width: 65%}
}@-o-keyframes Animate-JS {
  from {
  width: 10px;
}
to {
  width: 65%}
}#Skill-XML {
  animation: Animate-XML 4s;
  -webkit-animation: Animate-XML 4s;
  -moz-animation: Animate-XML 4s;
  -o-animation: Animate-XML 4s;
  width: 40%;
  height: 50px;
  position: absolute;
  background-color: #5aa669;
}
@keyframes Animate-XML {
  from {
  width: 10px;
}
to {
  width: 40%}
}@-webkit-keyframes Animate-XML {
  from {
  width: 10px;
}
to {
  width: 40%}
}@-moz-keyframes Animate-XML {
  from {
  width: 10px;
}
to {
  width: 40%}
}@-o-keyframes Animate-XML {
  from {
  width: 10px;
}
to {
  width: 40%}
}#Skill-C {
  animation: Animate-C 4s;
  -webkit-animation: Animate-C 4s;
  -moz-animation: Animate-C 4s;
  -o-animation: Animate-C 4s;
  width: 65%;
  height: 50px;
  position: absolute;
  background-color: rgba(248, 155, 119, 0.959);
}
@keyframes Animate-C {
  from {
  width: 10px;
}
to {
  width: 65%}
}@-webkit-keyframes Animate-C {
  from {
  width: 10px;
}
to {
  width: 65%}
}@-moz-keyframes Animate-C {
  from {
  width: 10px;
}
to {
  width: 65%}
}@-o-keyframes Animate-C {
  from {
  width: 10px;
}
to {
  width: 65%}
}#Skill-JAVA {
  animation: Animate-JAVA 4s;
  -webkit-animation: Animate-JAVA 4s;
  -moz-animation: Animate-JAVA 4s;
  -o-animation: Animate-JAVA 4s;
  width: 65%;
  height: 50px;
  position: absolute;
  background-color: #8e930c;
}
@keyframes Animate-JAVA {
  from {
  width: 10px;
}
to {
  width: 65%}
}@-webkit-keyframes Animate-JAVA {
  from {
  width: 10px;
}
to {
  width: 65%}
}@-moz-keyframes Animate-JAVA {
  from {
  width: 10px;
}
to {
  width: 65%}
}@-o-keyframes Animate-JAVA {
  from {
  width: 10px;
}
to {
  width: 65%}
}
#Skill-SQL {
  animation: Animate-SQL 4s;
  -webkit-animation: Animate-SQL 4s;
  -moz-animation: Animate-SQL 4s;
  -o-animation: Animate-SQL 4s;
  width: 80%;
  height: 50px;
  position: absolute;
  background-color: #23b1db;
}
@keyframes Animate-SQL {
  from {
  width: 10px;
}
to {
  width: 80%}
}@-webkit-keyframes Animate-SQL {
  from {
  width: 10px;
}
to {
  width: 80%}
}@-moz-keyframes Animate-SQL {
  from {
  width: 10px;
}
to {
  width: 80%}
}@-o-keyframes Animate-SQL {
  from {
  width: 10px;
}
to {
  width: 80%}
}
#Skill-PYTHON {
  animation: Animate-PYTHON 3s;
  -webkit-animation: Animate-PYTHON 3s;
  -moz-animation: Animate-PYTHON 3s;
  -o-animation: Animate-PYTHON 3s;
  width: 80%;
  height: 50px;
  position: absolute;
  background-color: #f8a51e;
}
@keyframes Animate-PYTHON {
  from {
  width: 10px;
}
to {
  width: 80%}
}@-webkit-keyframes Animate-PYTHON {
  from {
  width: 10px;
}
to {
  width: 80%}
}@-moz-keyframes Animate-PYTHON {
  from {
  width: 10px;
}
to {
  width: 80%}
}@-o-keyframes Animate-PYTHON {
  from {
  width: 10px;
}
to {
  width: 80%}
}
.Skill-Area {
  z-index: 1;
  float: left;
  margin-top: 15px;
  margin-left: 15px;
  text-shadow: none;
  color: #fff;
  font-size: 18px;
}
.PercentText {
  z-index: 3;
  position: relative;
  padding-right: 15px;
  margin-top: 15px;
  float: right;
  text-shadow: none;
  color: #fff;
  font-size: 18px;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}

.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card__box{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  width: 300px;
  height: auto;
  border-radius: 4px;
  background: var(--bg);
  text-align: center;
  margin: 20px;
  padding: 20px;
  transition: all .4s ease;

}
.img__header{
  font-size: 24px;
  line-height: 48px;
  font-family: cursive;
}
.img__text{
  font-family: popins;
  padding-top: 20px;
  color: var(--color-headings);
}
.img__text p{
  font-size: 15px;
  font-weight: 400;
  line-height: 30px; 
}

.card__box:hover{
  background-color: red;
  color: #fff;
  cursor: auto;
  transform: translateY(-3px);
}

/*Button*/
/* Layout Styling */
#container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 150px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* Button Styles */
.button {
  display: inline-flex;
  height: 40px;
  width: 100px;
  border: 2px solid rgb(0, 0, 0);
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: var(--color-headings);
  text-decoration: none;
  letter-spacing: 3px;
}

#button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-3 a {
  position: relative;
  transition: all .45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 20%;
  background: rgb(235, 251, 2);
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

#button-3:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#button-3:hover a {
  color: #2D3142;
}

.tooltip {
  position: relative;
  display: inline;
  border-bottom: 1px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: var(--bg);
  color: var(--color-headings);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Loader */

#loader {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgb(0, 0, 0);
    z-index:9999;
}

@-webkit-keyframes spin {
	/* from {-webkit-transform:rotate(0deg);} */
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	/* from {transform:rotate(0deg);} */
	to {-webkit-transform:rotate(360deg);}
}

#loader::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:50px;height:50px;
  border-style: groove;
  border-color:rgb(255, 0, 0);
  border-top-color: ivory;
  border-bottom-color: ivory;
  border-width: 4px;
  border-radius:50%;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}


/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
  color: var(--color-headings);
}

.list-item {
  line-height: 4;
  color:black;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: var(--color-headings);
}

.gmail {
  margin-left: 53px;
  color: var(--color-headings);
}

.contact-text a {
  color: var(--color-headings);
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: var(--color-headings);
  text-decoration: none;
}
.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: var(--color-text);
  letter-spacing: 5px;
  text-align: center;
}
/* Begin Media Queries*/
@media screen and (max-width: 760px) {
  #contact {
      height: 1000px;
  }
.direct-contact-container, .form-horizontal {
  float: none;
  margin: 10px auto;
}  
.direct-contact-container {
  margin-top: 60px;
  max-width: 300px;
}    
.social-media-list li {
  height: 60px;
  width: 60px;
  line-height: 60px;
}
.social-media-list li:after {
  width: 60px;
  height: 60px;
  line-height: 60px;
}
}

@media screen and (max-width: 569px) {
.form-wrapper {
  float: none;
  margin: 0 auto;
}  
.form-control, textarea {
  max-width: 340px;
  margin: 0 auto;
}

.name, .email, textarea {
  width: 280px;
} 
@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

/*Mobile version*/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */